@import "basic/varibbles";
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@media screen and (min-width: 900px) {
  .container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Montserrat;

    .section1 {
      padding-top: 42px;
      padding-right: 44px;
      width: $w1-section;
      height: 700px;
      background-image: url("/img/bg-large.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      flex-direction: column;

      .section1-block1 {
        width: 901px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          display: flex;
          font-size: $fs20;
          font-weight: $fw700;
          width: 152px;
          height: 25px;
          margin-left: 2px;
          color: $fcolor-text;
        }

        .link-login {
          width: 170px;
          display: flex;
          flex-direction: row;
          margin-right: 10px;

          #log-in {
            width: 90px;
            height: 36px;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: $fcolor-text;
            font-size: $fs14;
            font-weight: $fw400;

            &:hover {
              border: 2px solid $fcolor-text;
              border-radius: $bRadius;
            }
          }

          #sign-up {
            width: 90px;
            height: 36px;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: $fcolor-text;
            font-size: $fs14;
            font-weight: $fw400;

            &:hover {
              border: 2px solid $fcolor-text;
              border-radius: 40px;
            }
          }
        }
      }

      .section1-block2 {
        position: relative;
        top: -31px;
        bottom: 20px;
        right: 0;
        left: 22px;
        margin: auto;
        display: flex;
        width: 470px;
        height: 252px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h1 {
          width: 470px;
          height: 126px;
          display: flex;
          font-size: $fs52;
          font-weight: $fw700;
          text-align: center;
          color: $fcolor-text;
        }

        span {
          display: flex;
          text-align: center;
          width: 396px;
          height: 25px;
          font-size: $fs24;
          font-weight: $fw300;
          color: $fcolor-text;
        }

        a {
          text-decoration: none;

          .holiday-partner {
            display: flex;
            width: 225px;
            height: 40px;
            font-size: $fs14;
            font-weight: $fw700;
            background-color: $corporativColor;
            border-radius: $bRadius;
            justify-content: center;
            align-items: center;
            color: $fcolor-text;

            &:hover {
              background-color: #e04447;
              cursor: pointer;
            }
          }
        }
      }
    }

    .section2 {
      width: $w1-section;
      height: 556px;
      display: flex;
      justify-content: center;
      align-items: end;

      .section2-allBlock {
        display: flex;
        height: 460px;
        width: $sAllBlock1;
        justify-content: center;
        flex-wrap: wrap;
      }
      .section2-block1 {
        display: flex;
        height: 40px;
        width: 345px;

        h2 {
          display: block;
          font-size: $fs26;
          font-weight: $fw700;
        }
      }

      .section2-block2 {
        width: $sAllBlock1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        .boxex-card {
          position: relative;
        }

        .section2-block2-img-mask,
        .section2-block2-img-mask2 {
          width: 250px;
          height: 160px;
          display: flex;
          position: absolute;
          flex-direction: column;
          justify-content: space-between;
          bottom: 21px;
          left: 25px;
          color: $fcolor-text;
          font-size: $fs24;

          .section2-block2-img-mask-up1 {
            width: 70px;
            height: 20px;
            display: flex;
            background-color: $corporativColor;
            align-items: center;
            justify-content: center;
            border-radius: $bRadius;
            font-size: $fs10;
            font-weight: $fw400;
          }

          .section2-block2-img-mask-up2 {
            width: 250px;
            height: 58px;
            display: flex;
            align-items: center;
            font-size: $fs24;
            font-weight: $fw700;
            line-height: 26px;
          }

          .section2-block2-img-mask-up3 {
            width: 250px;
            height: 58px;
            display: flex;
            align-items: center;
            font-size: $fs14;
            font-weight: $fw300;
            line-height: 14px;
          }
        }

        .section2-block2-img-mask2 {
          height: 130px;
        }

        .section2-block2-img {
          display: flex;
          height: 400px;
          width: 300px;
        }
      }
    }

    // ----------------
    .section3 {
      width: $w1-section;
      height: 456px;
      display: flex;
      justify-content: center;
      align-items: end;

      .section3-allBlock {
        width: $sAllBlock1;
        height: 361px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
          display: block;
          font-size: $fs26;
          font-weight: $fw700;
        }

        .section3-block2 {
          margin-top: 33px;
          margin-bottom: 37px;
          width: $sAllBlock1;
          height: 224px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .section3-card-partner {
            width: 221px;
            height: 224px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .section3-block2-foto {
              display: flex;
              justify-content: center;
              align-items: baseline;
            }

            // ---------------

            .partner-foto1,
            .partner-foto2,
            .partner-foto3,
            .partner-foto4 {
              display: flex;
              width: 126px;
              height: 126px;
              background-image: url("/img/Avatar1-0.png");
              background-repeat: no-repeat;
              background-position: center;
              transition: 1s;
            }
            .partner-foto1:hover,
            .partner-foto2:hover,
            .partner-foto3:hover,
            .partner-foto4:hover {
              background-image: url("/img/Avatar1.png");
              background-repeat: no-repeat;
              background-position: center;
            }

            .partner-foto2 {
              background-image: url("/img/Avatar2-0.png");
            }

            .partner-foto2:hover {
              background-image: url("/img/Avatar2.png");
            }

            .partner-foto3 {
              background-image: url("/img/Avatar3-0.png");
            }

            .partner-foto3:hover {
              background-image: url("/img/Avatar3.png");
            }

            .partner-foto4 {
              background-image: url("/img/Avatar4-0.png");
            }

            .partner-foto4:hover {
              background-image: url("/img/Avatar4.png");
            }

            // ---------------------

            .section3-block2-name {
              display: flex;
              justify-content: center;
              margin-top: 14px;

              span {
                text-align: center;
                font-size: $fs14;
                font-weight: $fw700;
              }
            }

            .section3-block2-text {
              display: flex;
              justify-content: center;
              margin-top: 14px;

              span {
                word-spacing: 2px;
                text-align: center;
                font-size: $fs14;
                font-weight: $fw300;
                margin-top: 12px;
              }
            }
          }
        }

        a {
          text-decoration: none;
          color: $corporativColor;

          .section3-block3 {
            width: 180px;
            height: 40px;
            border: 2px solid $corporativColor;
            border-radius: $bRadius;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;

            span {
              font-size: $fs14;
              font-weight: $fw700;
            }

            &:hover {
              background-color: $corporativColor;
              color: $fcolor-text;
              width: 180px;
              height: 40px;
              border-radius: $bRadius;
            }
          }
        }
      }
    }

    // --------------------------------
    .section4 {
      width: $w1-section;
      height: 1126px;
      display: flex;
      justify-content: center;
      position: relative;

      .section4-allBlock {
        width: $sAllBlock1;
        height: 1031px;
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: center;
        flex-wrap: wrap;

        .section4-block1 {
          display: block;

          h2 {
            font-size: $fs26;
            font-weight: $fw700;
          }
        }
        .section4-block2 {
          width: $sAllBlock1;
          height: 970px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: end;

          .section4-block2-galery {
            width: auto;
            height: 310px;
            transition: 2s;
            position: relative;

            .section4-block2-galery-text {
              width: 270px;
              height: 54px;
              display: flex;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              justify-content: center;
              align-items: center;

              span {
                display: block;
                text-align: center;
                color: $fcolor-text;
                font-size: $fs22;
                font-weight: $fw700;
              }
            }

            &:hover {
              scale: (1.3);
              z-index: 3;
            }
          }
        }
      }
    }

    .section5 {
      width: $w1-section;
      height: 355px;
      display: flex;
      justify-content: center;
      position: relative;

      .section5-allBlock {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        width: 482px;
        height: 158px;

        .section5-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .section5-box-block1 {
            width: 482px;
            display: flex;
            justify-content: center;

            h2 {
              font-size: $fs26;
              font-weight: $fw700;
            }
          }

          .section5-box-block2 {
            width: 482px;
            display: flex;
            justify-content: center;

            span {
              font-size: $fs16;
              font-weight: $fw300;
            }
          }

          .section5-box-block3 {
            width: 482px;
            display: flex;
            justify-content: center;

            #inputEmail {
              width: 300px;
              height: 40px;
              border: 1px solid darkgray;
              padding-left: 15px;
              border-radius: 3px;

              &:hover {
                border-color: #e04447;
              }
            }

            #btn-search {
              width: 172px;
              height: 40px;
              border-radius: 40px;
              background-color: $corporativColor;
              border: 0px;
              font-size: $fs14;
              font-weight: $fw700;
              color: $fcolor-text;

              &:hover {
                cursor: pointer;
                background-color: #e04447;
              }
            }
          }
        }
      }
    }

    footer {
      width: $w1-section;
      height: 260px;
      display: flex;
      justify-content: center;
      position: relative;

      .hr-footer {
        width: 100%;
        height: 1px;
        border-color: $corporativColor;
      }

      .section6-allBlock {
        width: $sAllBlock1;
        height: 186px;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: space-between;

        .section6-block1,
        .section6-block2,
        .section6-block3 {
          width: 129px;
          height: 186px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h2 {
            display: block;
            font-size: $fs16;
            font-weight: $fw400;
            color: $corporativColor;
          }

          h3 {
            display: block;
            font-size: $fs14;
            font-weight: $fw700;
          }

          .sections6-block2-company {
            display: block;
            width: 129px;
            font-size: $fs14;
            font-weight: $fw300;
          }

          a {
            text-decoration: none;
            color: #999;
            &:hover {
              color: #5f5e5e;
            }
          }
        }

        .section6-block3 {
          position: relative;
          top: 4px;
          right: 67px;
        }

        .section6-block2 {
          position: relative;
          top: 4px;
          left: -31px;
        }
      }
      .section6-block4 {
        width: 120px;
        height: 186px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
        left: 10px;

        .disigned {
          position: relative;
          top: -5px;
          left: -18px;
          justify-content: right;
          display: flex;
          width: 120px;
          font-size: $fs10;
          font-weight: $fw700;
          color: #999;
        }
      }
    }
  }
}

@media screen and (max-width: 899px) and (min-width: 748px) {
  .container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Montserrat;

    .section1 {
      padding-top: 42px;
      padding-right: 44px;
      width: $w2-section;
      height: 700px;
      background-image: url("/img/bg-medium.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      flex-direction: column;

      .section1-block1 {
        width: 642px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          display: flex;
          font-size: $fs20;
          font-weight: $fw700;
          width: 152px;
          height: 25px;
          margin-left: 2px;
          color: $fcolor-text;
        }

        .link-login {
          width: 170px;
          display: flex;
          flex-direction: row;
          margin-right: 10px;

          #log-in {
            width: 124px;
            height: 36px;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: $fcolor-text;
            font-size: $fs14;
            font-weight: $fw400;

            &:hover {
              border: 2px solid $fcolor-text;
              border-radius: $bRadius;
            }
          }

          #sign-up {
            width: 90px;
            height: 36px;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: $fcolor-text;
            font-size: $fs14;
            font-weight: $fw400;

            &:hover {
              border: 2px solid $fcolor-text;
              border-radius: 40px;
            }
          }
        }
      }

      .section1-block2 {
        position: relative;
        top: -31px;
        bottom: 20px;
        right: 0;
        left: 22px;
        margin: auto;
        display: flex;
        width: 470px;
        height: 252px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h1 {
          width: 470px;
          height: 105px;
          display: flex;
          font-size: $fs52;
          font-weight: $fw700;
          text-align: center;
          color: $fcolor-text;
        }

        span {
          display: flex;
          text-align: center;
          width: 396px;
          height: 25px;
          font-size: $fs24;
          font-weight: $fw300;
          color: $fcolor-text;
        }

        a {
          text-decoration: none;

          .holiday-partner {
            display: flex;
            width: 225px;
            height: 40px;
            font-size: $fs14;
            font-weight: $fw700;
            background-color: $corporativColor;
            border-radius: $bRadius;
            justify-content: center;
            align-items: center;
            color: $fcolor-text;

            &:hover {
              background-color: #e04447;
              cursor: pointer;
            }
          }
        }
      }
    }

    .section2 {
      width: $w1-section;
      height: 556px;
      display: flex;
      justify-content: center;
      align-items: end;

      .section2-allBlock {
        display: flex;
        height: 461px;
        width: $sAllBlock2;
        justify-content: center;
        flex-wrap: wrap;
      }
      .section2-block1 {
        display: flex;
        height: 40px;
        width: 345px;

        h2 {
          display: block;
          font-size: $fs22;
          font-weight: $fw700;
        }
      }

      .section2-block2 {
        width: $sAllBlock2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        .boxex-card {
          position: relative;
        }

        .section2-block2-img-mask,
        .section2-block2-img-mask2 {
          width: 250px;
          height: 160px;
          display: flex;
          position: absolute;
          flex-direction: column;
          justify-content: space-between;
          bottom: 21px;
          left: 25px;
          color: $fcolor-text;
          font-size: $fs24;

          .section2-block2-img-mask-up1 {
            width: 70px;
            height: 20px;
            display: flex;
            background-color: $corporativColor;
            align-items: center;
            justify-content: center;
            border-radius: $bRadius;
            font-size: $fs10;
            font-weight: $fw400;
          }

          .section2-block2-img-mask-up2 {
            width: 250px;
            height: 58px;
            display: flex;
            align-items: center;
            font-size: $fs24;
            font-weight: $fw700;
            line-height: 14px;
          }

          .section2-block2-img-mask-up3 {
            width: 196px;
            height: 76px;
            display: flex;
            align-items: center;
            font-size: $fs14;
            font-weight: $fw300;
            line-height: 14px;
          }
        }

        .section2-block2-img-mask2 {
          height: 130px;
        }

        .section2-block2-img {
          display: flex;
          height: 400px;
          width: 236px;

          img {
            height: 400px;
            width: 236px;
          }
        }
      }
    }

    // ----------------
    .section3 {
      width: $w2-section;
      height: 702px;
      display: flex;
      justify-content: center;
      align-items: end;

      .section3-allBlock {
        width: 492px;
        height: 605px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        .section3-block1 {
          height: 65px;
          h2 {
            display: block;
            font-size: $fs22;
            font-weight: $fw700;
          }
        }

        .section3-block2 {
          /* margin-top: 8px; */
          margin-bottom: 37px;
          /* width: 516px; */
          /* height: 398px; */
          display: flex;
          /* flex-direction: row; */
          flex-wrap: wrap;
          justify-content: space-between;

          .section3-card-partner {
            width: 236px;
            height: 224px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .section3-block2-foto {
              display: flex;
              justify-content: center;
              align-items: baseline;
            }

            // ---------------

            .partner-foto1,
            .partner-foto2,
            .partner-foto3,
            .partner-foto4 {
              display: flex;
              width: 122px;
              height: 122px;
              background-image: url("/img/Avatar1-0.png");
              background-repeat: no-repeat;
              background-position: center;
              transition: 1s;
            }
            .partner-foto1:hover,
            .partner-foto2:hover,
            .partner-foto3:hover,
            .partner-foto4:hover {
              background-image: url("/img/Avatar1.png");
              background-repeat: no-repeat;
              background-position: center;
            }

            .partner-foto2 {
              background-image: url("/img/Avatar3-0.png");
            }

            .partner-foto2:hover {
              background-image: url("/img/Avatar3.png");
            }

            .partner-foto3 {
              background-image: url("/img/Avatar2-0.png");
            }

            .partner-foto3:hover {
              background-image: url("/img/Avatar2.png");
            }

            .partner-foto4 {
              background-image: url("/img/Avatar4-0.png");
            }

            .partner-foto4:hover {
              background-image: url("/img/Avatar4.png");
            }

            // ---------------------

            .section3-block2-name {
              display: flex;
              justify-content: center;
              margin-top: 14px;

              span {
                text-align: center;
                font-size: $fs14;
                font-weight: $fw700;
              }
            }

            .section3-block2-text {
              display: flex;
              justify-content: center;
              margin-top: 14px;

              span {
                word-spacing: 2px;
                text-align: center;
                font-size: $fs14;
                font-weight: $fw300;
                margin-top: 12px;
              }
            }
          }
        }

        a {
          text-decoration: none;
          color: $corporativColor;

          .section3-block3 {
            width: 180px;
            height: 40px;
            border: 2px solid $corporativColor;
            border-radius: $bRadius;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;

            span {
              font-size: $fs14;
              font-weight: $fw700;
            }

            &:hover {
              background-color: $corporativColor;
              color: $fcolor-text;
              width: 180px;
              height: 40px;
              border-radius: $bRadius;
            }
          }
        }
      }
    }

    // --------------------------------
    .section4 {
      width: $w2-section;
      height: 1126px;
      display: flex;
      justify-content: center;
      position: relative;

      .section4-allBlock {
        width: $sAllBlock2;
        height: 1030px;
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: center;
        flex-wrap: wrap;

        .section4-block1 {
          display: block;
          width: 350px;
          height: 27px;

          h2 {
            font-size: $fs22;
            font-weight: $fw700;
          }
        }
        .section4-block2 {
          width: $sAllBlock2;
          height: 970px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: end;

          .section4-block2-galery {
            transition: 2s;
            position: relative;

            .section4-img-galery1 {
              width: 236px;
              height: 310px;
            }

            .section4-img-galery2 {
              width: 492px;
              height: 310px;
            }

            .section4-block2-galery-text {
              width: 230px;
              height: 54px;
              display: flex;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              justify-content: center;
              align-items: center;

              span {
                display: block;
                text-align: center;
                color: $fcolor-text;
                font-size: $fs22;
                font-weight: $fw700;
              }
            }

            &:hover {
              scale: (1.3);
              z-index: 3;
            }
          }
        }
      }
    }

    .section5 {
      width: $w2-section;
      height: 334px;
      display: flex;
      justify-content: center;
      position: relative;

      .section5-allBlock {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        width: 482px;
        height: 158px;

        .section5-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .section5-box-block1 {
            width: 482px;
            display: flex;
            justify-content: center;

            h2 {
              font-size: $fs22;
              font-weight: $fw700;
            }
          }

          .section5-box-block2 {
            width: 482px;
            display: flex;
            justify-content: center;

            span {
              font-size: $fs16;
              font-weight: $fw300;
            }
          }

          .section5-box-block3 {
            width: 482px;
            display: flex;
            justify-content: center;

            #inputEmail {
              width: 300px;
              height: 40px;
              border: 1px solid darkgray;
              padding-left: 15px;
              border-radius: 3px;

              &:hover {
                border-color: #e04447;
              }
            }

            #btn-search {
              width: 172px;
              height: 40px;
              border-radius: 40px;
              background-color: $corporativColor;
              border: 0px;
              font-size: $fs14;
              font-weight: $fw700;
              color: $fcolor-text;

              &:hover {
                cursor: pointer;
                background-color: #e04447;
              }
            }
          }
        }
      }
    }

    footer {
      width: $w2-section;
      height: 260px;
      display: flex;
      justify-content: center;
      position: relative;

      .hr-footer {
        width: 100%;
        height: 1px;
        border-color: $corporativColor;
      }

      .section6-allBlock {
        width: 692px;
        height: 148px;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: space-between;

        .section6-block1,
        .section6-block2,
        .section6-block3 {
          width: 129px;
          height: 186px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h2 {
            display: block;
            font-size: $fs16;
            font-weight: $fw400;
            color: $corporativColor;
          }

          h3 {
            display: block;
            font-size: $fs14;
            font-weight: $fw700;
          }

          .sections6-block2-company {
            display: block;
            width: 129px;
            font-size: $fs14;
            font-weight: $fw300;
          }

          a {
            text-decoration: none;
            color: #999;
            &:hover {
              color: #5f5e5e;
            }
          }
        }

        .section6-block3 {
          position: relative;
          top: 4px;
          right: -17px;
        }

        .section6-block2 {
          position: relative;
          // top: 4px;
          left: 34px;
        }
      }
      .section6-block4 {
        width: 120px;
        height: 186px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
        left: 10px;

        .disigned {
          position: relative;
          top: -5px;
          left: -18px;
          justify-content: right;
          display: flex;
          width: 120px;
          font-size: $fs10;
          font-weight: $fw700;
          color: #999;
        }
      }
    }
  }
}

@media screen and (max-width: 747px) and (min-width: 320px) {
  .container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Montserrat;

    .section1 {
      padding-top: 42px;
      padding-right: 44px;
      width: $w3-section;
      height: 540px;
      background-image: url("/img/bg-small.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      flex-direction: column;

      .section1-block1 {
        width: 153px;
        height: 157px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;

        h3 {
          display: flex;
          font-size: $fs20;
          font-weight: $fw700;
          width: 152px;
          height: 25px;
          margin-left: 2px;
          color: $fcolor-text;
        }

        .link-login {
          width: 153px;
          display: flex;
          flex-direction: row;
          // margin-right: 10px;

          #log-in {
            width: 75px;
            height: 36px;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: $fcolor-text;
            font-size: $fs14;
            font-weight: $fw400;

            &:hover {
              border: 2px solid $fcolor-text;
              border-radius: $bRadius;
            }
          }

          #sign-up {
            width: 80px;
            height: 36px;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: $fcolor-text;
            font-size: $fs14;
            font-weight: $fw400;

            &:hover {
              border: 2px solid $fcolor-text;
              border-radius: $bRadius;
            }
          }
        }
      }

      .section1-block2 {
        position: relative;
        top: -31px;
        bottom: 20px;
        right: 0;
        left: 22px;
        margin: auto;
        display: flex;
        width: 280px;
        height: 184px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h1 {
          display: flex;
          font-size: $fs30;
          font-weight: $fw700;
          text-align: center;
          color: $fcolor-text;
        }

        span {
          display: flex;
          text-align: center;
          width: 280px;
          height: 49px;
          font-size: $fs18;
          font-weight: $fw300;
          color: $fcolor-text;
        }

        a {
          text-decoration: none;

          .holiday-partner {
            display: flex;
            width: 280px;
            height: 40px;
            font-size: $fs14;
            font-weight: $fw700;
            background-color: $corporativColor;
            border-radius: $bRadius;
            justify-content: center;
            align-items: center;
            color: $fcolor-text;

            &:hover {
              background-color: #e04447;
              cursor: pointer;
            }
          }
        }
      }
    }

    .section2 {
      width: $w3-section;
      height: 811px;
      display: flex;
      justify-content: center;
      align-items: end;

      .section2-allBlock {
        display: flex;
        height: 781px;
        width: $sAllBlock3;
        justify-content: center;
        flex-wrap: wrap;
      }
      .section2-block1 {
        display: flex;
        height: 27px;
        width: 289px;

        h2 {
          display: block;
          font-size: $fs22;
          font-weight: $fw700;
        }
      }

      .section2-block2 {
        width: $sAllBlock2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        .boxex-card {
          position: relative;
        }

        .section2-block2-img-mask,
        .section2-block2-img-mask2 {
          width: 250px;
          height: 160px;
          display: flex;
          position: absolute;
          flex-direction: column;
          justify-content: space-between;
          bottom: 21px;
          left: 16px;
          color: $fcolor-text;
          font-size: $fs24;

          .section2-block2-img-mask-up1 {
            width: 70px;
            height: 20px;
            display: flex;
            background-color: $corporativColor;
            align-items: center;
            justify-content: center;
            border-radius: $bRadius;
            font-size: $fs10;
            font-weight: $fw400;
          }

          .section2-block2-img-mask-up2 {
            width: 250px;
            height: 58px;
            display: flex;
            align-items: center;
            font-size: $fs24;
            font-weight: $fw700;
            line-height: 14px;
          }

          .section2-block2-img-mask-up3 {
            width: 250px;
            height: 76px;
            display: flex;
            align-items: center;
            font-size: $fs14;
            font-weight: $fw300;
            line-height: 14px;
          }
        }

        .section2-block2-img-mask2 {
          height: 130px;
        }

        .section2-block2-img {
          display: flex;
          height: 240px;
          width: 300px;

          img {
            height: 240px;
            width: 300px;
          }
        }
      }
    }

    // ----------------
    .section3 {
      width: $w3-section;
      height: 1067px;
      display: flex;
      justify-content: center;
      align-items: end;

      .section3-allBlock {
        width: $sAllBlock3;
        height: 1031px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        .section3-block1 {
          width: 280px;
          height: 54px;
          text-align: center;
          h2 {
            display: f;
            font-size: $fs22;
            font-weight: $fw700;
          }
        }

        .section3-block2 {
          margin-bottom: 37px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .section3-card-partner {
            width: 236px;
            height: 224px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .section3-block2-foto {
              display: flex;
              justify-content: center;
              align-items: baseline;
            }

            // ---------------

            .partner-foto1,
            .partner-foto2,
            .partner-foto3,
            .partner-foto4 {
              display: flex;
              width: 122px;
              height: 122px;
              background-image: url("/img/Avatar1-0.png");
              background-repeat: no-repeat;
              background-position: center;
              transition: 1s;
            }
            .partner-foto1:hover,
            .partner-foto2:hover,
            .partner-foto3:hover,
            .partner-foto4:hover {
              background-image: url("/img/Avatar1.png");
              background-repeat: no-repeat;
              background-position: center;
            }

            .partner-foto2 {
              background-image: url("/img/Avatar3-0.png");
            }

            .partner-foto2:hover {
              background-image: url("/img/Avatar3.png");
            }

            .partner-foto3 {
              background-image: url("/img/Avatar2-0.png");
            }

            .partner-foto3:hover {
              background-image: url("/img/Avatar2.png");
            }

            .partner-foto4 {
              background-image: url("/img/Avatar4-0.png");
            }

            .partner-foto4:hover {
              background-image: url("/img/Avatar4.png");
            }

            // ---------------------

            .section3-block2-name {
              display: flex;
              justify-content: center;
              margin-top: 14px;

              span {
                text-align: center;
                font-size: $fs14;
                font-weight: $fw700;
              }
            }

            .section3-block2-text {
              display: flex;
              justify-content: center;
              margin-top: 14px;

              span {
                word-spacing: 2px;
                text-align: center;
                font-size: $fs14;
                font-weight: $fw300;
                margin-top: 12px;
              }
            }
          }
        }

        a {
          text-decoration: none;
          color: $corporativColor;

          .section3-block3 {
            width: 240px;
            height: 40px;
            border: 2px solid $corporativColor;
            border-radius: $bRadius;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;

            span {
              font-size: $fs14;
              font-weight: $fw700;
            }

            &:hover {
              background-color: $corporativColor;
              color: $fcolor-text;
              width: 240px;
              height: 40px;
              border-radius: $bRadius;
            }
          }
        }
      }
    }

    // --------------------------------
    .section4 {
      width: $w3-section;
      height: 1022px;
      display: flex;
      justify-content: center;
      position: relative;

      .section4-allBlock {
        width: $sAllBlock3;
        height: 987px;
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: center;
        flex-wrap: wrap;

        .section4-block1 {
          display: block;
          width: 280px;
          height: 54px;

          h2 {
            text-align: center;
            font-size: $fs22;
            font-weight: $fw700;
          }
        }
        .section4-block2 {
          width: $sAllBlock2;
          height: 900px;
          display: flex;
          // flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          align-items: end;

          .section4-block2-galery {
            transition: 2s;
            position: relative;

            .section4-img-galery2,
            .section4-img-galery1 {
              width: 300px;
              height: 120px;
            }

            .section4-block2-galery-text {
              width: 230px;
              height: 54px;
              display: flex;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              justify-content: center;
              align-items: center;

              span {
                display: block;
                text-align: center;
                color: $fcolor-text;
                font-size: $fs22;
                font-weight: $fw700;
              }
            }

            &:hover {
              scale: (1.3);
              z-index: 3;
            }
          }
        }
      }
    }

    .section5 {
      width: $w3-section;
      height: 227px;
      display: flex;
      justify-content: center;
      position: relative;

      .section5-allBlock {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        width: $sAllBlock3;
        height: 192px;

        .section5-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .section5-box-block1 {
            width: $sAllBlock3;
            display: flex;
            justify-content: center;

            h2 {
              text-align: center;
              font-size: $fs22;
              font-weight: $fw700;
            }
          }

          .section5-box-block2 {
            width: $sAllBlock3;
            display: flex;
            justify-content: center;

            span {
              font-size: $fs16;
              font-weight: $fw300;
            }
          }

          .section5-box-block3 {
            width: $sAllBlock3;
            display: flex;
            justify-content: center;

            .form-column {
              height: 90px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;

              #inputEmail {
                width: 280px;
                height: 40px;
                border: 1px solid darkgray;
                padding-left: 15px;
                border-radius: 3px;

                &:hover {
                  border-color: #e04447;
                }
              }

              #btn-search {
                width: 280px;
                height: 40px;
                border-radius: 40px;
                background-color: $corporativColor;
                border: 0px;
                font-size: $fs14;
                font-weight: $fw700;
                color: $fcolor-text;

                &:hover {
                  cursor: pointer;
                  background-color: #e04447;
                }
              }
            }
          }
        }
      }
    }

    footer {
      width: $w3-section;
      height: 260px;
      display: flex;
      justify-content: center;
      position: relative;

      .hr-footer {
        width: 100%;
        height: 1px;
        border-color: $corporativColor;
      }

      .section6-allBlock {
        width: $sAllBlock3;
        height: 183px;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .section6-block1,
        .section6-block2,
        .section6-block3 {
          width: 129px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // align-items: center;

          h2 {
            display: block;
            font-size: $fs16;
            font-weight: $fw400;
            color: $corporativColor;
          }

          h3 {
            display: block;
            font-size: $fs14;
            font-weight: $fw700;
            text-align: center;
          }

          a {
            text-decoration: none;
            color: #999;
            &:hover {
              color: #5f5e5e;
            }
          }
        }

        .section6-block2 {
          width: 280px;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;

          .position-up {
            display: block;
            text-align: center;
            width: 320px;
          }

          .sections6-block2-company {
            display: flex;
            width: 57px;
            font-size: $fs14;
            font-weight: $fw300;
            line-height: 25px;
          }

          .small-footer {
            display: flex;
            width: 150px;
          }
        }
      }
      .section6-block4 {
        width: 110px;
        height: 43px;
        display: flex;
        flex-direction: column;

        .disigned {
          justify-content: center;
          display: flex;
          width: 110px;
          font-size: $fs10;
          font-weight: $fw700;
          color: #999;
          margin-bottom: 5px;
        }
      }
    }
  }
}
