$fs10: 10px;
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs26: 26px;
$fs30: 30px;
$fs52: 52px;

$fw300: 300;
$fw400: 400;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;

$sAllBlock1: 941px;
$sAllBlock2: 748px;
$sAllBlock3: 300px;

$bRadius: 40px;

$fcolor-text: #fff;
$corporativColor: #ff4e50;
$bg-color: #f2f2f2;

$w1-section: 1440px;
$w2-section: 768px;
$w3-section: 320px;
